.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.divider {
  background-color: rgba(228, 231, 236, 1);
  align-items: flex-start;
  display: flex;
  height: 2px;
  margin: 20px 0px 10px 0px;
  width: 80vw;
  position: relative;
}

.bar {
  align-items: center;
  background-color: rgba(232, 195, 129, 1);
  display: flex;
  width: 100%;
}

.copyrightText {
  color: rgba(3,3,3,1);
  font-weight: 400;
  height: 32px;
  line-height: 16px;
  text-align: center;
}

.links {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.footer-link {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0px 20px;
  text-decoration: none;
  color: black;
}

.text {
  color: rgba(3,3,3,1);
  font-weight: 500;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.icon-instagram {
  height: 30px;
  object-fit: cover;
  width: 27px;
}

.icon-twitter {
  margin: 2px 0px;
  height: 26px;
  object-fit: cover;
  width: 32px;
}

.icon-facebook {
  margin: 2px 0px;
  height: 26px;
  object-fit: cover;
  width: 26px;
}